<span class="save-btn">
    <button class="btn btn-with-icon" id="the-save-btn"
            type="submit"
            ng-click="saveButton.save()"
            ng-class="{ 'btn-success' : !saveButton.savingChangesTrigger && !saveButton.unsavedChangesTrigger,
                        'btn-warning' : saveButton.unsavedChangesTrigger && !saveButton.savingChangesTrigger,
                        'btn-danger-hover' : saveButton.savingChangesTrigger}"
            ng-disabled="!saveButton.unsavedChangesTrigger">

        <!--SAVING-->
        <div ng-if="saveButton.savingChangesTrigger">
            <div class="save-btn__spinner" ><util-spinner class-name="btn-loading-beacon"></util-spinner></div>
            <div class="save-btn__saving">Saving Changes</div>
        </div>

        <!--ALL CHANGES UP TO DATE-->
        <span ng-if="!saveButton.savingChangesTrigger && !saveButton.unsavedChangesTrigger"><i class="lumen-icon__graphic lumen-icon__graphic--check-open"></i> Changes are up to date</span>

        <!--UNSAVED CHANGES-->
        <span ng-if="saveButton.unsavedChangesTrigger && !saveButton.savingChangesTrigger"><i class="lumen-icon__graphic lumen-icon__graphic--warning"></i>Save Changes</span>
    </button>
</span>
